---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
import { siteConfig } from "../../site.config";
---

<header class="group relative mb-28 flex items-center sm:ps-18" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="group inline-flex items-center sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-4 h-10 w-10 transition-all duration-300 group-hover:text-accent group-hover:scale-110 sm:absolute sm:-start-16 sm:me-0 sm:h-14 sm:w-14"
				focusable="false"
				viewBox="0 0 400 400"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none">
					<path d="M0 2000 l0 -2000 2000 0 2000 0 0 2000 0 2000 -2000 0 -2000 0 0 -2000z m1975 1065 c170 -31 276 -79 371 -168 82 -76 121 -132 154 -221 l26 -71 54 -3 c167 -7 292 -37 416 -100 72 -36 174 -117 174 -138 0 -8 -44 -73 -97 -146 l-98 -131 -20 29 c-32 46 -116 124 -155 144 -77 40 -232 57 -265 30 -7 -6 -21 -35 -31 -63 -33 -102 -150 -235 -265 -300 -48 -27 -54 -45 -53 -157 2 -159 44 -283 128 -377 125 -139 381 -158 552 -42 40 27 92 81 113 116 10 16 22 6 111 -84 55 -57 100 -109 100 -116 0 -21 -108 -120 -186 -170 -131 -84 -253 -117 -432 -117 -240 0 -437 88 -575 255 -101 123 -157 259 -177 430 -18 159 5 145 -229 145 -225 0 -225 0 -236 -74 -4 -24 -5 -155 -3 -292 4 -275 8 -295 78 -385 17 -21 29 -43 25 -49 -10 -16 -592 -14 -597 2 -3 7 12 34 33 60 67 85 64 37 64 968 0 943 4 888 -70 982 -19 24 -35 46 -35 51 0 4 235 7 523 7 414 0 539 -3 602 -15z"/>
					<path d="M1437 2771 c-44 -4 -71 -11 -77 -21 -6 -9 -10 -143 -10 -312 0 -296 0 -297 22 -312 19 -13 57 -16 220 -16 108 0 220 5 247 11 50 10 52 12 117 112 62 95 128 169 183 205 20 14 22 21 17 59 -16 121 -115 223 -251 260 -56 15 -359 24 -468 14z"/>
				</g>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
		</a>
		<nav
			aria-label="Main menu"
			class="bg-global-bg absolute -inset-x-4 top-12 hidden flex-col divide-y px-2 py-4 group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:divide-x sm:divide-y-0 sm:bg-transparent sm:p-0"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="text-accent px-2 py-4 font-semibold sm:px-4 sm:py-0 sm:underline-offset-2 sm:hover:underline"
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<span class="sr-only">Open main menu</span>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="text-accent absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
